html {
  color: white;
}

#main {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-family: monospace;
}

header {
  padding-bottom: 220px;
}

html {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 10s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url("../Images/tumblr_o2yqziBkFa1spnyg9o1_500.gif");
    background-position: center fixed;
  /*  border-style: solid;
    border-width: 27px 88px 16px 90px;
    -moz-border-image: url(giphy.gif) 27 88 16 90 repeat;
    -webkit-border-image: url(giphy.gif) 27 88 16 90 repeat;
    -o-border-image: url(giphy.gif) 27 88 16 90 repeat;
    border-image: url(tumblr_static_aekjc0hqlgoow8sock0k0o0ss.gif) 27 88 16 90 repeat; */
  }

figcaption img {
  height: 250px;
  width: 300px;
}

figure {
  padding-bottom: 90px;
}

#intro {
  padding-bottom: 100px;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

#ghosttown {
  font-family: "Jokerman";
}

#linkin-park {
  font-family: "Chiller";
  font-size: 30px;
}

#ptv {
  font-family: "Harrington";
}

#halestorm {
  font-family: "Bradley Hand ITC";
  font-size: 30px;
  font-weight: bold;
}

#breaking-benjamin {
  font-family: "Colonna MT";
}

#dead-poetic {
  font-family: "Algerian";
}

#blessthefall {
  font-family: "Old English Text MT";
}

#alesana {
  font-family: "Monotype Corsiva";
  font-size: 30px;
}

#starset {
  font-family: "Broadway";
  font-weight: bold;
  font-size: 20px;
}

#ffdp {
  font-family: "Engravers MT";
}

#flyleaf {
  font-family: "Mistral";
  font-size: 30px;
}

#virgin-black {
  font-family: "Vivaldi";
  font-size: 25px;
}

#tfk {
  font-family: "Ravie";
}

#in-this-moment {
  font-family: "Edwardian Script ITC";
  font-size: 25px;
}

#papa-roach {
  font-family: "Eras Medium ITC";
}

#escape-the-fate {
  font-family: "Blackadder ITC";
}

#of-mice-and-men {
  font-family: "Courier New";
}
