 body {
   margin-top: 60px;
   background-color:#DEC5EB;
   color:purple;
   text-align: center;
   margin-top: 70px;
  }
  
  #subjects {
  display:none;
  }

 #flower {
   float: left;
   width: 6%
 }
 footer {
   position: fixed;
   bottom:0;
   width: 100%;
   height: 50px;
   background-color: white;
   box-shadow: 0px 1px 1px pink;
   font-size: 14px;
  }

  footer h3 {
    float: left;
  }

  li {
    list-style: none;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color:white;
    border-top: 0px 1px 1px pink;
  }

  header .nav-bar h3 {
    float: left;
  }

  header .nav-bar ul {
    float: right;
  }

 header .nav-bar ul li {
   float: left;
   width: 15vw;
   list-style: none;
 }
 
header a {
	color:#B4A0E5;
	text-decoration:none;
	display: block;
	padding: 5px;
}      /* unvisited link */
header a:visited {color:#B4A0E5;}  /* visited link */
header a:hover {
	color:#DEC5EB;
	border: 2px solid #FAE3c6;
	border-radius: 6px;
	}  /* mouse over link */

 .content-container {
   width:90%;
   padding:2%;
   border: 0.4em black solid;
   background-color: white;
   box-shadow:0.1em 0.0325em 0.0125em #888888;
 }
 @media (min-width:460px) {
   .content-container {
     background-color: pink;
    }
 }

 @media (min-width:900px) {
   .content-container {
     background-color: white;
     width: 60%;
     margin-left: 19%;
   }
 }
 #fb{
 float: right;
 width:"3vw"
 }
  
  .mySlides{
  margin-left: 25%
  }
  
  
  .button {
  background: #21c2b5;
  background-image: -webkit-linear-gradient(top, #21c2b5, #2980b9);
  background-image: -moz-linear-gradient(top, #21c2b5, #2980b9);
  background-image: -ms-linear-gradient(top, #21c2b5, #2980b9);
  background-image: -o-linear-gradient(top, #21c2b5, #2980b9);
  background-image: linear-gradient(to bottom, #21c2b5, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #bd34d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #bd34d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #bd34d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #bd34d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #bd34d9);
  text-decoration: none;
}
.content-container{
margin-bottom: 60px;
}

 
