body {
margin-left: 25%;
width: 100%;
margin-right: 50%;
width: 150%;
color: #CC397B;}
}

img {
  max-width: 50%;
  Image:
  max-width 5%;
   {
    display: block;
    margin: auto;
    width: 40%;
}
}
h2 {margin-right: 2%;
    
}


h2{
  color: #FF00FF;
}
content-container{
text-align: center;
  width: 50%px;
  padding: 2%;
  border: solid;
  background-color: #00CED1;
  margin-left: 25%;
}
  .content-container {
    width:40%;
    display: inline-block;
    background-color: pink;

	border: solid purple;
.btn:hover 
  background-color: FF0080;
    

header .nav-bar h3{
  float:right;
}
header .nav-bar ul{
  float:left;
}
header .nav-bar ul li{
  float: left;
}
h1 {
    text-shadow: 2px 2px 5px purple;
}
h2{
  color: purple;
  margin-right: 25%;
  width: 100%;
}
.prettyfont {
  font-family: sans-serif;
}
p{
  color: purple;
  text-align: center;
}
p{
  font-size: 1.4cm;

p {

h2{
  
ul{
  color: lime;
  
}
ul{
  font-size: 16px
}
ul > li { font-size: 25px;
}
li{
  color: #7A93AC;
}
li{
  font-size: 10px
}
.content-container{
  border: 5px green dotted
  
}

h3{

Image:
  max-width 5%;
   {
    display: block;
    margin: auto;
    width: 40%;
}
body {
    background-color: pink;
}