body{
  background-color:#EA3788;
  color: black;
  margin-left: 20%;
}

#wrapper{
  background-color: #DAB6FC;
  width:75%;
}

.title{
  font-size: 50px;
}

h1{
  color: #F26DF9;
  font-style: italic;
  text-decoration: underline;
}
li{
  color: #bf1a2f;
  font-family: cursive;
}

.blah{

}

li{
  font-size: 20px;
}
.video{
margin-left:50px;
}
