body{
margin-top: 40px;
}

h1{
  color :#BA68C8
}
p{
  font-size: 20px
}
p{
  font-family: monospace;
}
p{
  color:currentColor;
}
h1{
  font-family: monospace;
}
h1{
  font-size: 40px
  font-style: italic;
}
h2{
  font-size: 20px
}
h2{
  color:#FF4081
}
ol{
  font-size: 20px
}
ol{
  font-family: monospace;
}
.content-container{
  background-color: white;
}
.content-container{
  width: 70%
}
.content-container{
  padding: 0.5%
}
.content-container{
  border: solid
}
img{
  width: 70%
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #F06292;
  box-shadow: 0px 1px 1px #F06292;
}

header .nav-bar h3{
  float: left;
}
header .nav-bar ul{
  float: right;
}
header  .nav-bar ul li{
  float: left;
  margin-right: 2em;
}

@media screen and (max-width: 599px) {
  header{
    display: none;
  }
  body{
	margin-top: 0;
  }
  .content-container{
	margin-left: 0;
    width: 100%;
    display: inline-block;
    background-color: #90CAF9
  }
}

@media screen and (min-width: 600px) {
  .content-container{
	margin-left: 20%;
    width: 60%;
    display: inline-block;
    background-color: #90CAF9
  }
}
h1{
 font-style: italic;
}
background {
color: white;
}
#subjects {
text-align: center;
}