header li {
    font-size: 23px;
    font-family: fantasy;
    float: left;
    display: inline-block;
    width: 15%;
    vertical-align: top;
    text-decoration: none;
}

header a:link, a:visited {
    border: 2px solid grey;
    background-color: #C4C4C4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

header a:hover, a:active {
    background-color: black;
    color: white;
}

body {
  background-image: url("../Musical-Notes-Black.gif");
}

html {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
